body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #a4c8ff;
    text-align: center;
}

.image-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: auto;
}

h1, h2, h3 {
    color: #0D1A63;
}

.myUl {
    list-style-type: none;  
    padding-left: 0;        
}

p {
    width: 60%;
    margin: 20px auto;
}