body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightblue;
    text-align: center;
}

.image-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: auto;
}

h1, h2, h3 {
    color: #E8E2DB;
}

.myUl {
    list-style-type: none;  
    padding-left: 0;        
}

